body {
  font-family: Arial, sans-serif;
  background-color: #1a1a1a;
  color: #141414;
  margin: 0;
  padding: 20px;
}

container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  text-align: center;
  color: #ffc107;
}

form {
  display: flex;
  flex-direction: column;
}

input[type="number"] {
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 5px;
  border: 1px solid #ffc107;
  background-color: #333;
  color: #ffc107;

  width: 150px;
}

.categories {

  margin-bottom: 15px;
}

label {

  font-weight: bold;
  margin-bottom: 5px;
}

input[type="checkbox"] {
  margin-top: 15px;
  display: none;
}

label.checkbox {
  display: flex;

align-items: center;

cursor:pointer;
margin-bottom: 10px;
position: relative;
padding-left: 30px;
